#checkout-payment{
    width: 85%;
    min-height: 5vw;
    padding: 2vw;
    /* background-color: red; */
}
#checkout-payment .heading-container{
    width: 53vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap:1vw
}
#checkout-payment .heading-container .heading{
    width: 11vw;
    text-transform: uppercase;
    font-size: 1.8vw;
    font-family: futura;
}

#checkout-payment .payment {
    margin-top: 2vw;
    display: block;
    position: relative;
    padding-left: 3.5vw;
    margin-bottom: 2vw;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-family: helvetica;
    font-size: 1vw;
    font-weight: 500;
    width: 20vw;
    height: 2vw;
}

/* Hide the browser's default radio button */
#checkout-payment .payment input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

/* Create a custom radio button */
#checkout-payment .payment .checkmark {
position: absolute;
top: 0;
left: 1vw;
height: 25px;
width: 25px;
background-color: white;
border: 0.5px solid black;
}

/* On mouse-over, add a grey background color */
#checkout-payment .payment:hover input ~ .checkmark {
background-color: #ccc;
}

/* When the radio button is checked, add a blue background */
#checkout-payment .payment input:checked ~ .checkmark {
background-color: white;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
#checkout-payment .payment .checkmark:after {
content: "";
position: absolute;
display: none;
}

/* Show the indicator (dot/circle) when checked */
#checkout-payment .payment input:checked ~ .checkmark:after {
display: block;
}

/* Style the indicator (dot/circle) */
#checkout-payment .payment .checkmark:after {
    top: 3px;
    left: 3px;
    width: 18px;
    height: 18px;
    background: black;
}

#checkout-payment .payment-btn .button{
    border: 1px solid black;
    width: 58.5vw;
    height: 3vw;
    border-radius: 25px;
    background-color: black;
    color: #fff;
    font-size: 0.9vw;
    font-weight: 700;
    font-family: helvetica;
}
