
#home-heading-container h1{
    bottom:0;
    font-size: 23vh;
    text-transform: uppercase;
    font-family:"rubik",futura,"Paytone One";
    line-height: 18vh;
    letter-spacing: -8px;    
    color: #fff;
    margin: 20px 30px;
}
#home-heading-container{
    position: absolute;
    z-index: 1;
    bottom: 0;
    margin-bottom: 20px;
}

@media (max-width:700px) {   
    #home-heading-container h1{
        font-size: 16vw;
        letter-spacing: -0.5vw;  
        line-height: 16vw;  
        margin:0px 20px;
    }
    #home-heading-container{
        margin-bottom:30px;
    }
}