@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "futura";
    src: url("../src/assets/Futura-Bold.ttf");
}
@font-face {
    font-family: "helvetica";
    src: url("../src/assets/HelveticaNowText-Regular.ttf");
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gilroy';
}
*::selection{
    color: #fff;
    background-color: #050505;
}
html,body{
    height: 100%;
    width: 100%;
    background-color: rgb(255, 255, 255);
}